.form-style-3 {
  width: 60%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 40px 0;
}

.form-style-3 label {
  display: block;
  margin-bottom: 10px;
  width: 180px;
}

.form-style-3 label>span {

  width: 100px;
  color: #23282d;
  font-weight: bold;
  font-size: 16px;
}

.form-style-3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  /* border: 1px solid #808080; */
  padding: 20px;
  /* background: #A9A9A9; */
}

.form-style-3 fieldset legend {
  color: #23282d;
  /* border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080; */
  border-radius: 5px 5px 0px 0px;
  /* background: #A9A9A9; */
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-style-3 input[type=text] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #808080;
  outline: none;
  color: #23282d;
  background: #fff;
  width: 100%;
  padding: 7px 10px;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
  background: #A9A9A9;
  border: 1px solid #808080;
  padding: 5px 15px 5px 15px;
  color: #23282d;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

.required {
  color: red;
  font-weight: normal;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.post-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: baseline;
}

.sub-btn {
  width: 172px;
  font-size: 19px;
  height: 53px;
  margin-top: 15px;
}